body{
    margin:0px;
    }
    #header{
    height:120px;
    background:#2F2F2E;
    }

body {
    background-color: white;
}

body {
    margin: 0
}


p.bordure_verticale {
    height: 300px;
    padding-right: 60px;
    border-right: 1px solid black;
    }
